* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    min-height: 800px;
}

body {
    background-image: url(IMAGES/mainBG.jpg);
    background-size: cover;
}

nav {
    z-index: 999;
    height: 65px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: -1;
}

.pageLinks {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 2px 5px black;
}

.logoContainer {
    position: fixed;
}

#logoImg {
    max-height: 3em;
    display: inline;
}

#logoText {
    font-family: Damion;
    display: inline;
    color: whitesmoke;
    text-shadow: 1px 2px 5px black;
    font-size: 35px;
}

/* MAIN CONTENT */
main {
    margin: 0 auto;
}

.homeCard {
    display: flex;
    justify-content: center;
}

#heroScone {
    z-index: 0;
    position: absolute;
    height: 750px;
    border-radius: 10%;
    margin: auto;

    /* mask-image: linear-gradient(black, transparent);
    -webkit-mask-image: linear-gradient(black, transparent); */
}

#truckGraphic {
    animation: 5s linear 1s 1 running slidein;
    position: absolute;
    transform: translateX(-51em);
}

@keyframes slidein {
    from {
        transform: translate(-50vw, 23.5em);
    }

    to {
        transform: translate(110vw, 23.5em);
    }
}

.mainButtons {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: fit-content;
    background-color: none;
    column-gap: 5rem;
    transform: translateY(600px);
}

.mainButtons button {
    background-color: black;
    color: whitesmoke;
    border: none;
    padding: 10px;
    margin: .25em;
    white-space: nowrap;
    border-radius: 10px;
}

.specialContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transform: translateY(25px);
    column-gap: 1em;
    margin: auto;
    max-width: 1100px;
}

.special {
    border: solid 5px black;
    border-radius: 20px;
    background-color: whitesmoke;
    padding: 15px;
    text-align: center;
}

.menuContainer {
    margin: 40px auto;
    max-width: 1100px;
}

#menu {
    width: 100%;
    border-radius: 50px;
}

.rainbowButtonBorder {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: relative;
    border-radius: 10px;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}


@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }

    50% {
        background-position: 100% 19%
    }

    100% {
        background-position: 0% 82%
    }
}


@media screen and (max-width: 768px) {

    .line {
        width: 30px;
        height: 3px;
        margin: 5px;
        background: whitesmoke;
        box-shadow: 1px 2px 5px black;
    }


    .hamburger {
        z-index: 2;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }

    .pageLinks {
        color: black;
        text-shadow: none;
    }

    .nav-links {
        position: fixed;
        background-image: url(/IMAGES/sparseCoffeeBeansBG.jpg);
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        clip-path: circle(100px at 90% -13%);
        -webkit-clip-path: circle(100px at 90% -13%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: space-evenly;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -13%);
        pointer-events: all;
    }

    .specialContainer {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1em;
    }

}