@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  background-image: url(/IMAGES/mainBG.jpg);
  background-size: cover;
}

nav {
  z-index: 999;
  height: 65px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 0.1fr;
  padding-right: 1em;
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: -1;
}

.pageLinks {
  color: whitesmoke;
  text-decoration: none;
  font-size: 25px;
  text-shadow: 1px 2px 5px black;
}

.logoContainer {
  position: fixed;
}

#logoImg {
  max-height: 3em;
}

#logoText {
  font-family: Damion;
  display: inline;
  color: whitesmoke;
  text-shadow: 1px 2px 5px black;
  font-size: 35px;
  position: fixed;
  margin-top: 0.25em;
}

#cart {
  color: black;
  margin: auto;
  border: 3px solid black;
  padding: 0.25em;
  border-radius: 5px;
  background-color: whitesmoke;
}

.cartCounter {
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 10%;
  margin-left: 1.25em;
  width: 20px;
  height: 20px;
  text-align: center;
  text-shadow: none;
  margin-right: 5px;
}

/* MAIN CONTENT */

main {
  max-width: 1375px;
  margin: 0 auto;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  background-color: rgba(255, 255, 255, 65%);
  max-width: 350px;
  margin: 0.75em;
  padding-bottom: 0.5em;
  border-radius: 25px;
}

.productImage {
  max-width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.productName {
  margin: 1em;
}

.productPrice {
  float: right;
  margin: 1em;
}

.productDescription {
  font-style: italic;
  font-size: 0.7em;
  display: block;
}

.qtySelect {
  max-width: 5em;
  text-align: center;
}

.selectors {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

select {
  width: 206px;
  text-align: center;
}

.addToCart {
  background-color: black;
  color: whitesmoke;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  margin: 1em auto;
  display: block;
  width: 80%;
}

/* CART PAGE STYLINGS START HERE */
.cartPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  z-index: -1;
  background-color: white;
  position: fixed;
  overflow-x: none;
  max-width: 500px;
  min-height: 50vh;
  max-height: 500px;
  border-radius: 5px;
  place-self: end;
  transform: translate(2%, -20%);
  clip-path: inset(50px at 90% -13%);
  -webkit-clip-path: inset(50px at 90% -13%);
}

.cartPreview.open {
  transform: translate(2%, 84%);
  clip-path: inset(500px at 90% -13%);
  -webkit-clip-path: inset(500px at 90% -13%);
  pointer-events: all;
}

.previewHeader {
  margin-top: 3em;
}

.cartContents {
  width: 100%;
}

.buttonContainer > button {
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 0.25em;
  display: inline;
}

button:disabled {
  background-color: gray;
}

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

.cartItem > input {
  width: 2.5em;
  margin-right: 0.25em;
}

.cartImg {
  width: 22%;
  border-radius: 50%;
}

.cartNav {
  text-align: right;
  width: 80%;
  margin: 0 auto;
}

.total {
  border: 1px solid black;
  text-align: end;
  padding-right: 1em;
}

.cartNav > button {
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 0.25em;
}

.cartNav > button > a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 768px) {
  #cart {
    margin-left: 195%;
  }

  .line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: whitesmoke;
    box-shadow: 1px 2px 5px black;
  }

  .hamburger {
    z-index: 2;
    position: absolute;
    cursor: pointer;
    right: 12%;
    top: 50%;
    transform: translate(-5%, -50%);
  }

  .pageLinks {
    color: whitesmoke;
    text-shadow: 1px 2px 5px black;
  }

  .nav-links {
    position: fixed;
    background-image: url(/IMAGES/sparseCoffeeBeansBG.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    clip-path: circle(100px at 90% -13%);
    -webkit-clip-path: circle(100px at 90% -13%);
    transition: all 1s ease-out;
    pointer-events: none;
    justify-content: space-evenly;
  }

  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -13%);
    pointer-events: all;
  }
}
