* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    background-image: url(/IMAGES/mainBG.jpg);
    background-size: cover;
}

nav {
    z-index: 999;
    height: 65px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: -1;
}

.pageLinks {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    text-shadow: 1px 2px 5px black;
}

.logoContainer {
    position: fixed;
}

#logoImg {
    max-height: 3em;
    display: inline;
}

#logoText {
    font-family: Damion;
    display: inline;
    color: whitesmoke;
    text-shadow: 1px 2px 5px black;
}

/* #cart {
    color: whitesmoke;
} */

/* MAIN CONTENT */
.allProducts {
    display: grid;
    gap: .25em;
    padding: 0 5px;
}

.product {
    border: solid 1px black;
    background-color: rgba(255, 255, 255, 60%);
    max-width: 450px;
}

.productImage {
    max-width: 100%;
}


.qtySelect {
    max-width: 3em;
}

.addToCart {
    background-color: black;
    color: whitesmoke;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

@media (orientation: portrait) {
    .allProducts {
        grid-template-columns: 1fr 1fr;
    }
}

@media (orientation: landscape) {
    .allProducts {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 992px) {
    .allProducts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {

    .line {
        width: 30px;
        height: 3px;
        margin: 5px;
        background: whitesmoke;
        box-shadow: 1px 2px 5px black;
    }


    .hamburger {
        z-index: 2;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
    }

    .pageLinks {
        color: black;
        text-shadow: none;
    }

    .nav-links {
        position: fixed;
        background: lavender;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        clip-path: circle(100px at 90% -13%);
        -webkit-clip-path: circle(100px at 90% -13%);
        transition: all 1s ease-out;
        pointer-events: none;
        justify-content: space-evenly;
    }

    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -13%);
        pointer-events: all;
    }
}